@media (min-width:0px) and (max-width:600px) {
   
   .container{
    width: auto;
    margin: 0 20px;
    display: flex;
    flex-direction: column;

   }
    nav ul{
    display: none;
    flex-direction: column;
    align-items: center;
   }
   .hamburger{
    display: block;
   }
   
   #banner{
    background-position: center;
    background-size: cover;

   }
    .banner-src-box{
        flex-direction: column;
        height: fit-content;
        width: auto;
    }   
    .nav-logo h1 , .banner-head h2{
        font-size: 1.5rem;
    } 
    .banner-head{
        padding: 25px 20px;
    }
    .popular{
        flex-direction: column;
        row-gap: 20px;
    }
    .popular-text , .choice-box {
        width: auto;
    }
    .popular-img img{
        width: 100%;
    }
    .destination-img , .newsletter-img{
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .newsletter{
        flex-direction: column;
        margin: 0 auto;
        gap: 20px;
    }
    .from , .from input , .from button{
        width: auto;
        align-items: center;
       
    }
    .newsletter .off{
        width: 220px;
        top: 56px;
        left: 150px;
    }
    .off h4{
        font-size: 1.2rem;
    }
    #footer{
        margin-top: 25px;
       padding-top: 50px;
       padding-bottom: 50px;
    }

}