/* common css */
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
.primary-button{
    width: 175px;
    color: var(--main-color);
    font-size: 1rem;
    font-family: var(--primary-font);
    font-weight: 700;
    text-align: center;
    background: var(--primary-color);
    padding: 15px 30px;
    border-radius: 8px;
    transition: all linear .4s;
}
.primary-button:hover{
    background: #332941;
}
.primary-heading{
    color: var(--third-color);
font-size: 2.5rem;
font-family: var(--primary-font);
font-weight: 800;
}
.primary-p{
    color: var(--secondary-color);
    font-size: 1rem;
    font-family: var(--primary-font);
    font-weight: 400;
    
}
/* common css end */
/* varriables */

:root{
    --primary-color:#FF5400;
    --secondary-color:#5A5A5D;
    --third-color:#131318;
    --main-color:#ffffff;
    --primary-font:'Mulish', sans-serif;
}
/* nav css start */
nav{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
    display: flex;
    gap: 15px;
}
.nav-logo h1{
    color: var(--third-color);
    font-size: 2.4rem;
    font-family: var(--primary-font);
    font-weight: 800;
}
.nav-logo h1 span{
    color: var(--primary-color);
}
nav ul{
    display: flex;
    gap: 44px;

}
nav ul li a{
    color: #424247;
    font-size: 1.2rem;
    font-family: var(--primary-font);
    font-weight: 400;
}
.hamburger{
    font-size: 2.4rem;
    display: none;
}

/* nav css end */
/* banner css start */
#banner{
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0) 100%), url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
.banner-head{
    padding-top: 106px;
    padding-bottom: 50px;
    text-align: center;
}
.banner-head h2{
    color: var(--main-color);
font-size: 4rem;
font-family: var(--primary-font);
font-weight: 800;
margin-bottom: 20px;

}
.banner-head p{
    color: var(--main-color);
font-size:1rem;
font-family:var(--primary-font);
font-weight: 400;
}
.banner-src-box{
    background-color: rgba(255, 255, 255, 0.30);
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 85px;
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 106px;
}
.banner-box{
    width: 175px;
    height: 52px;
    background-color: var(--main-color);
    border: none;
    border-radius: 8px;
    color: var(--secondary-color);
    font-size:1rem;
    font-family: var(--primary-font);
    font-weight: 400;
    padding-right: 10px;
    padding-left: 10px;
}
/* banner css end */
/* popular css start */
.popular{
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    
}
.popular-text{
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 24px;
    width: 44%;
}

.popular-text ul{
    list-style: circle;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 14px;
    padding-left: 20px;
}
.popular-img img{
   border-radius: 16px;
}
/* popular css end */
/* destination css start */
.destination-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    text-align: center;
    margin-bottom: 48px;
}
.destination-img-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
}
.destination-img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    text-align: center;
    line-height: 300px;
}
.destination-img h3{
    color: var(--main-color);
font-size: 1.8rem;
font-family:var(--primary-font);
font-weight: 800;
}
.img1{
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%) ,url(../Images/Rectangle\ 1.png);
    height: 300px;
    width:573px;
}
.img2{
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%),url(../Images/Rectangle\ 2.png) ;
    height: 300px;
    width:573px;
}
.img3{
    width: 374px;
    height: 286px;
    background:  linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%),url(../Images/Rectangle\ 3.png);
}
.img4{
    width: 474px;
    height: 286px;
    background:  linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%),url(../Images/Rectangle\ 4\ \(2\).png);
}
.img5{
    width: 274px;
    height: 286px;
    background:  linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%) ,url(../Images/Rectangle\ 5.png);
}
.img6{
    width: 473px;
    height: 300px;
    background:  linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%) ,url(../Images/Rectangle\ 6.png);
}
.img7{
    width: 673px;
    height: 300px;
    background:  linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%) ,url(../Images/Rectangle\ 7.png);
}
