/* common css */
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
.primary-button{
    width: 175px;
    color: var(--main-color);
    font-size: 1rem;
    font-family: var(--primary-font);
    font-weight: 700;
    text-align: center;
    background: var(--primary-color);
    padding: 15px 30px;
    border-radius: 8px;
    transition: all linear .4s;
}
.primary-button:hover{
    background: #332941;
}
.primary-heading{
    color: var(--third-color);
font-size: 2.5rem;
font-family: var(--primary-font);
font-weight: 800;
}
.primary-p{
    color: var(--secondary-color);
    font-size: 1rem;
    font-family: var(--primary-font);
    font-weight: 400;
    
}
.primary-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    text-align: center;
    margin-bottom: 48px;
}
/* common css end */
/* varriables */

:root{
    --primary-color:#FF5400;
    --secondary-color:#5A5A5D;
    --third-color:#131318;
    --main-color:#ffffff;
    --primary-font:'Mulish', sans-serif;
}
/* nav css start */
nav{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
    display: flex;
    gap: 15px;
}
.nav-logo h1{
    color: var(--third-color);
    font-size: 2.4rem;
    font-family: var(--primary-font);
    font-weight: 800;
}
.nav-logo h1 span{
    color: var(--primary-color);
}
nav ul{
    display: flex;
    gap: 44px;

}
nav ul li a{
    color: #424247;
    font-size: 1.2rem;
    font-family: var(--primary-font);
    font-weight: 400;
    transition: all linear .4s;
}
nav ul li a:hover{
    color: var(--primary-color);
}
.hamburger{
    font-size: 2.4rem;
    display: none;
}

/* nav css end */
/* banner css start */
#banner{
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0) 100%), url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
.banner-head{
    padding-top: 106px;
    padding-bottom: 50px;
    text-align: center;
}
.banner-head h2{
    color: var(--main-color);
font-size: 4rem;
font-family: var(--primary-font);
font-weight: 800;
margin-bottom: 20px;

}
.banner-head p{
    color: var(--main-color);
font-size:1rem;
font-family:var(--primary-font);
font-weight: 400;
}
.banner-src-box{
    background-color: rgba(255, 255, 255, 0.30);
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 85px;
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 106px;
}
.banner-box{
    width: 175px;
    height: 52px;
    background-color: var(--main-color);
    border: none;
    border-radius: 8px;
    color: var(--secondary-color);
    font-size:1rem;
    font-family: var(--primary-font);
    font-weight: 400;
    padding-right: 10px;
    padding-left: 10px;
}
/* banner css end */
/* popular css start */
.popular{
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    
}
.popular-text{
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 24px;
    width: 44%;
}

.popular-text ul{
    list-style: circle;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 14px;
    padding-left: 20px;
}
.popular-img img{
   border-radius: 16px;
}
/* popular css end */
/* destination css start */

.destination-img-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
}
.destination-img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    text-align: center;
    line-height: 300px;
}
.destination-img h3{
    color: var(--main-color);
font-size: 1.8rem;
font-family:var(--primary-font);
font-weight: 800;
}
.img1{
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%) ,url(../Images/Rectangle\ 1.png);
    height: 300px;
    width:573px;
}
.img2{
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%),url(../Images/Rectangle\ 2.png) ;
    height: 300px;
    width:573px;
}
.img3{
    width: 374px;
    height: 286px;
    background:  linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%),url(../Images/Rectangle\ 3.png);
}
.img4{
    width: 474px;
    height: 286px;
    background:  linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%),url(../Images/Rectangle\ 4\ \(2\).png);
}
.img5{
    width: 274px;
    height: 286px;
    background:  linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%) ,url(../Images/Rectangle\ 5.png);
}
.img6{
    width: 473px;
    height: 300px;
    background:  linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%) ,url(../Images/Rectangle\ 6.png);
}
.img7{
    width: 673px;
    height: 300px;
    background:  linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%) ,url(../Images/Rectangle\ 7.png);
}
/* destination css end */
/* choose css start */
.choose{
    margin-top: 100px;
    margin-bottom: 100px;
}
.choice-box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
}
.choice-box h3{
    color: var(--third-color);
font-size: 1.5rem;
font-family: var(--primary-font);
font-weight: 800;
}
.choice-box{
    background: rgba(251, 181, 99, 0.2);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 24px;
    padding: 35px;
    width: 573px;
    border: 1px rgba(251, 181, 99, 0.20) solid ;
    border-radius: 16px;
    transition: all linear .4s;
}
.choice-box:hover{
    background:rgba(41, 206, 246, 0.05);
    border:1px rgba(41, 206, 246, 0.20) solid;
}
/* choose css end*/

/*  newsletter css start  */
.newsletter{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.from{
    background:var(--main-color);
    border-radius: 16px;
    width: 40%;
    height: fit-content;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 24px;
    border: 1px solid var(--primary-color);
}
.from h3{
    color: var(--third-color);
font-size: 1.5rem;
font-family: var(--primary-font);
font-weight: 800;
}
.from input{
    background-color: rgba(19, 19, 24, 0.05);
    border: none;
    border-radius: 8px;
    color: var(--secondary-color);
    font-size:1rem;
    font-family: var(--primary-font);
    font-weight: 400;
    padding-right: 10px;
    padding-left: 10px;
    height: 52px;
    width: 393px;
    border-radius: 8px;
}
.from button{
    color: var(--main-color);
    font-size: 1rem;
    font-family: var(--primary-font);
    font-weight: 700;
    text-align: center;
    background: var(--primary-color);
    padding: 15px 30px;
    border-radius: 8px;
    width: 393px;
    border: none;
    transition: all linear .4s;
}
.from button:hover{
    background: #332941;
}
.newsletter-img{
    background-image: url(../Images/Group\ 40089.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 672px;
    height: 422px;
    border-radius: 16px;
   
    
}
.newsletter-img .off{
    background: var(--primary-color);
    width: 324px;
    padding: 20px;
    border-radius: 50px 50px 16px 16px;
    text-align: center;
    transform: rotate(50deg);
    position: relative;
    top: 85px;
    left: 383px;
    
    
}
.off p{
    color: var(--main-color);
    font-size: 1.5rem;
    font-family: var(--primary-font);
    font-weight: 400;
}
.off h4{
    color: var(--main-color);
    font-size: 2rem;
    font-family: var(--primary-font);
    font-weight: 800;
}
/* newsletter css end */
/* footer css start */
#footer{
    background-color: rgba(19, 19, 24, 0.05);
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;

}
#footer .nav-logo{
    justify-content: center;
    align-items: center;
}
.icons{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 26px;
}
#footer p{
    margin-top: 24px;
}
#footer .line{
    height: 2px;
    width: auto;
    background-color: var(--secondary-color);
    
}
